.Rproj.user
.Rhistory
.RData
.Ruserdata
.RData
corona_infKreise.zipx
trends.csv
impfdaten_regional.csv
trends.zip
cases_GermanTemporal_2022-11-28.rds
04-kreise.xlsx
03-regierungsbezirke.xlsx

04-kreise.csv
corona_inf_kreise.zipx

