.Rproj.user
.Rhistory
.RData
.Ruserdata
.RData
corona_inf_kreise.zipx.icloud
cases_GermanTemporal_2022-11-28.rds.icloud
04-kreise.xlsx.icloud
04-kreise.csv.icloud
03-regierungsbezirke.xlsx.icloud
impfdaten_regional.csv.icloud
trends.csv.icloud
trends.zip.icloud